* {
    background-color: rgb(23, 28, 23);
    color: snow;
    font-family: 'Roboto Mono', 'Consolas', 'Inconsolata', 'Courier New', 'Courier', monospace, monospace;
}
footer {
    font-size: smaller;
}
button {
    height: 4rem;
    width: 17rem;
    border-color: snow;
}
button.canPurchase {
    border-color: darkgreen;
    transition-duration: 0.5s;
}

button.canPurchase:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

button.cantPurchase {
    border-color: darkred;
}

button.cantPurchase:hover {
    cursor: not-allowed;
}

button.purchased {
    border-color: purple;
}

button.purchased:hover {
    cursor: not-allowed;
}
.generators-buttons {
    margin: 0.4rem 0.2rem 0.4rem 0.2rem;
    font-size: 21px;
    line-height: 1.75;
    height: 11rem;
    width: 20rem;
    font-family: 'Roboto Mono';
    border-width: 0.3rem;
    color: darkgray;
    background-color: #333333;
}
