body {
    margin: 15px;
    background-color: rgb(23, 28, 23);
    color: snow;
    font-family: 'Product Sans', 'Roboto', 'Inter', 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Inconsolata', 'Courier New', 'Courier', monospace;
}
footer {
    font-size: smaller;
}
button {
    padding: 5px 20px;
    background: #2a2a2a;
    border: 2px solid #333;
    color: snow;
    font-family: inherit;
    border-radius: 8px;
}
button.canPurchase {
    border-color: darkgreen;
    cursor: pointer;
}

button.canPurchase:hover {
    transform: scale(0.9);
}

button.canPurchase:active {
    transform: scale(1);
    transition-delay: 0.5ms;
}

button.cantPurchase {
    border-color: darkred;
    cursor: not-allowed;
}

button.purchased {
    border-color: purple;
    cursor: not-allowed;
}

.generators-buttons {
    margin: 0.4rem 0.2rem 0.4rem 0.2rem;
    font-size: 21px;
    line-height: 1.75;
    border-width: 0.3rem;
    color: darkgray;
    width: 100%;
    transition: 0.3s ease-in-out transform;
    border-style: solid;
}
#generators {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    justify-items: start;
}
.generators-buttons > span.cost {
    font-size: 18px;
}
.generators-buttons > * > .text, .generators-buttons > .text {
    background-color: #333;
    border-radius: 4px;
    color: aquamarine;
}
